@import "../../styles/variables";

.navigation {
  background: $color-text-primary;
  height: 100%;
}

.menuList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  &__item {

  }
  &__link {
    text-decoration: none;
    color: $color-text-secondary;
  }
}
