.offerBlock {
  background: #FFFFFF url("assets/images/offer_icon.svg") no-repeat center right 22px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #1D6BF3;
  padding: 10px 12px;
  border-radius: 6px;
  margin: 100px 0 40px 0;
}
