$color-text-primary: #1A1B22;
$color-button-primary: #797981;
$color-text-secondary: #B5B5B7;
$color-input-disabled: #DDE0E4;
$color-link-primary: #1D6BF3;
$color-background-selected: #F1F6FF;
$color-error: #FF0200;
$color-background-secondary: #F9FAFB;
$color-background-primary: #FFFFFF;
