@import "assets/styles/variables.scss";
@import "assets/fonts/ys-fonts";

.header {
  font-family: "YS Display" , Arial, sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
